.box {

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Layout Properties */
    top: 0;
    left: 0;
    width: 1366px;
    height: 70px;

    /* UI Properties */
    background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.leftSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide img {

    margin: 18px 19px;

    /* Layout Properties */
    width: 165px;
    height: 35px;
    /* UI Properties */
    opacity: 1;
}

.rightSide {
    display: flex;
    justify-content: center;

    outline: hidden;
}


