.box {
    position: relative;
}

.icon {
    position: absolute;
    top: 10px;
    left: 15px;
}

.box > label:focus-within .icon {
    display: none;
}

.box > label > input[type='text'] {
    padding-left: 15px;
    /* Layout Properties */
    width: 326px;
    height: 39px;
    /* UI Properties */
    background: rgba(248, 248, 248, 0.52) 0 0 no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
    border: none;
    color: var(--unnamed-color-f8f8f8);

}

.box > label > input[type='text']::placeholder {
    /* Layout Properties */
    padding-left: 35px;
    top: 26px;
    left: 292px;
    width: 49px;
    height: 18px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-ubuntu);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f8f8f8);
    text-align: left;
    opacity: 1;
}

.box > label > input[type='text']:focus {
    outline: none;
}

.box > label > input[type='text']:focus::placeholder {
    color: transparent;
}