.subheadBox {
    /* Layout Properties */
    width: 1093px;
    height: 50px;
    /* UI Properties */
    background: #3EB470 0 0 no-repeat padding-box;
    border-radius: 25px 25px 0 0;
    opacity: 1;

    display: flex;
    justify-content: end;
    align-items: end;
    gap: 197px;

}